@import url("./reset.scss");
@import url("./themes/dark.scss");
@import url("./themes/normal.scss");
@import url("./variables/global.scss");
.app {
  font: var(--font-m);

  color: var(--primary-color);
  background: var(--bg-color);
  min-height: 100vh;
}
